.contact {
    background-image: var(--second-gradient);
}

.contact__container {
    grid-template-columns: 5fr 7fr;
}

.contact__card {
    padding-left: 130px;
    margin-bottom: 40px;
    position: relative;
}

.contact__card-icon,
.contact__form-input {
    border: 2px solid var(--border-color);
    background-color: var(--container-color);
    cursor: pointer;
}

.contact__card-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    box-shadow: var(--shadow);
    font-size: var(--larger-font-size);
    display: grid;
    place-items: center;
}

.contact__card-icon::after {
    content: '';
    width: 40px;
    height: 2px;
    background-color: var(--border-color);
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -1px;
}

.contact__card-title {
    font-size: var(--h2-font-size);
    font-family: var(--second-font);
    padding-block: 6px;
}

.contact__form-group {
    display: grid;
    row-gap: 20px;
}

.contact__form-div {
    display: grid;
    row-gap: 10px;
}

.contact__form-tag {
    font-size: var(--smaller-font-size);
    font-weight: 700;
}

.contact__form-tag b {
    color: var(--primary-color);
}

.contact__form-input,
.contact__form-div textarea {
    color: var(--title-color);
    border-radius: 30px;
    padding-inline: 20px;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
}

.contact__form-div textarea {
    height: 110px;
    resize: none;
    padding-inline: 20px;
    box-sizing: border-box;
}

.contact__submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin-top: 20px;
}

@media (max-width: 767px) {
    .contact__container {
        grid-template-columns: 1fr; 
    }

    .contact__card {
        padding-left: 20px; 
    }
}
@media (max-width: 767px) {
    .contact__card-icon {
        width: 40px; 
        height: 40px;
        font-size: var(--medium-font-size);
    }

    .contact__card-icon::after {
        width: 30px; 
    }
}